.search_container {
	margin-right: 5rem;
	p {
		font-size: 2rem;
		font-weight: 900;
		margin: 1rem 0;
		text-align: center;
		text-shadow: 0 1px 2px #fff;
	}
	form {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 0.75rem;
		display: flex;
		flex-direction: row;
		position: relative;
		.search_value {
			width: 35rem;
			background-image: url('./src/assets/images/icons/icon-search.svg');
			background-size: 1.5rem;
			background-repeat: no-repeat;
			background-position: 97.5% 50%;
			padding: 0 3.5rem 0 1rem;
		}
		.search_types {
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 100%;
			text-align: center;
			label {
				cursor: pointer;
				padding: 0.25rem 0.5rem;
				background-color: #828282;
				color: #fff;
				text-transform: uppercase;
				margin: 0 0.5rem;
				position: relative;
				top: -5px;
				transition: all 0.1s ease-in-out;
				&:hover {
					background-color: #494949;
				}
				&:before {
					transition: all 0.1s ease-in-out;
					display: block;
					position: absolute;
					content: '';
					left: -13.5px;
					top: 7px;
					width: 0;
					height: 0;
					border-top: 0px solid transparent;
					border-bottom: 18px solid transparent;
					border-right: 14px solid #494949;
				}
				&.active {
					background: #b40101;
					&:hover {
						background-color: #890000;
					}
					&:before {
						border-right-color: #5b0000;
					}
				}
				span {
					padding: 0 0.5rem;
				}
			}
		}
		.search_submit {
			cursor: pointer;
			background-image: url('./assets/images/icons/search-location-white.svg');
			background-size: 1.5rem;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			padding: 0.5rem 4rem 0.5rem 2rem;
			margin: 0 0 0 1rem;
		}
	}
}
