.card_property {
	border: 1px solid rgba(144, 144, 144, 1);
	background-color: white;
	width: 100%;
	figure {
		width: 100%;
		margin: 0;
		overflow: hidden;
		img {
			width: 100%;
			transition: all 0.25s ease-in-out;
		}
	}
	&:hover {
		img {
			transform: scale(105%);
		}
	}
}
