.featured_container {
	position: relative;
	overflow: hidden;
	border-bottom: 4px solid #b40101;

	.row {
		justify-content: right;
		align-items: center;
	}
	.slideshow_container {
		position: relative;
		width: 100%;
		list-style: none;
		.featured_item {
			height: 25rem;
			overflow: hidden;
			height: 100%;
			position: relative;
		}
	}
}
