.btm_nav_container {
	color: #fff;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	margin: 3rem 0;
	li {
		margin: 1rem 0;
		font-size: 1.25rem;
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
